<!-- Record Container -->
{{#if user}}
  <div class="record-container">

    <!-- Title & Edit Button -->
    <div class="row">
      <div class="col l12 m12 s12">
        <span class="record-title">Account Detail</span>
        <button class="btn blue right" onclick="window.location.href = '/a/edit-account?id={{user._id}}'"><i class="material-icons">create</i></button>
      </div>
    </div>

    <!-- Record Info -->
    <div class="row">
      <div class="col l4 m6 s6">
        <label>Userid:</label>
        <input type="text" disabled value="{{user.userid}}">
      </div>
      <div class="col l4 m6 s6">
        <label>Role:</label>
        <input type="text" disabled value="{{user.role}}">
      </div>
      <div class="col l4 m6 s6">
        <label>Email Address:</label>
        <input type="text" disabled value="{{user.email}}">
      </div>
    </div>

    <div class="row">
      <div class="col l4 m4 s12">
        <label>First Name:</label>
        <input type="text" disabled value="{{user.first_name}}">
      </div>
      <div class="col l4 m4 s12">
        <label>Middle Name:</label>
        <input type="text" disabled value="{{user.middle_name}}">
      </div>
      <div class="col l4 m4 s12">
        <label>Last Name:</label>
        <input type="text" disabled value="{{user.last_name}}">
      </div>
    </div>

    <!-- Footer -->
    <div class="dfooter row">
      <button class="btn blue" onclick="window.location.href = '/a/manage-accounts'"><i class="material-icons left">arrow_back</i>Back</button>
      <button class="btn red modal-trigger" data-target="confirm-delete"><i class="material-icons left">delete</i>Delete</button>
    </div>

    <!-- Delete Modal Structure -->
    <div id="confirm-delete" class="modal">
      <div class="modal-content">
        <h4>Confirmation</h4>
        <h6>You sure your want to delete this user? <br>You cannot undo this process</h6>
      </div>
      <div class="modal-footer">
        <button class="modal-close waves-effect waves-red btn-flat">Cancel</button>
        <button onclick="window.location.href = '/a/deluser?id={{user._id}}'" class="modal-close waves-effect waves-green btn-flat">Yes</button>
      </div>
    </div>

  </div>
{{/if}}


<!-- SCRIPTS -->

<!-- Materialize Initialization -->
<script>
  M.Modal.init(document.querySelectorAll('.modal'))
  M.Datepicker.init(document.querySelectorAll('.datepicker'))
</script>