<table class="highlight responsive-table">
  <caption>Latest Records</caption>
  <thead>
    <tr id="th">
      <th>First Name</th>
      <th>Last Name</th>
      <th>Event Type</th>
      <th>Start Date</th>
      <th>Hours Recorded</th>
      <th>Action</th>
    </tr>
  </thead>

  {{#if records}}
    <tbody>
      {{#each records}}
        <tr>
          <td onclick="window.location.href = '/a/edetails?id={{this._id}}'">{{this.first_name}}</td>
          <td onclick="window.location.href = '/a/edetails?id={{this._id}}'">{{this.last_name}}</td>
          <td onclick="window.location.href = '/a/edetails?id={{this._id}}'">{{this.event_type}}</td>
          <td onclick="window.location.href = '/a/edetails?id={{this._id}}'">{{formatDate this.start_time "YYYY-MM-DD"}}</td>
          <td onclick="window.location.href = '/a/edetails?id={{this._id}}'">{{sum this.hours_recorded this.additional_hours}}</td>
          <td><button data-target="m-{{this._id}}" class="btn btn-small waves-effect waves-light modal-trigger">Confirm</button></td>
        </tr>
        <!-- Modal Structure -->
        <div id="m-{{this._id}}" class="modal">
          <div class="modal-content">
            <h4>Confirm Record</h4>
            <p>
              Once you confirmed this record, the time will be added to the user’s profile according to the hours recorded
              and will be valid until it gets deleted
            </p>
            <form id="f-{{this._id}}" method="POST" action="/a/confirm-rec?id={{this._id}}&coordinator={{../coordinator_name}}">
              <div class="input-field">
                <label for="ahrs">Additional Hours</label>
                <input type="text" name="ahrs"/>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="modal-close waves-effect waves-green btn-flat">Cancel</button>
            <button form="f-{{this._id}}" class="modal-close waves-effect waves-green btn-flat">Confirm</button>
          </div>
        </div>
      {{/each}}
    </tbody>
  {{else}}
    <td>No New Records Added Yet</td>
  {{/if}}
</table>

<script>
  M.Modal.init(document.querySelectorAll('.modal'))
</script>