<!-- NOT FINISHED -->
<!--  <div class="col l1 m2 s6">-->
<!--    <div class="input-field">-->
<!--      <a href="" class="btn blue">Import</a>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col l1 m2 s6">-->
<!--    <div class="input-field">-->
<!--      <a href="" class="btn blue">Export</a>-->
<!--    </div>-->
<!--  </div>-->

<div class="row">

  <div class="col s12">
    <h4>Volunteer Members</h4>
  </div>

  <div class="col l2 m2 s12">
    <div class="input-field">
      <a data-target="new-vuser" class="btn blue modal-trigger"><i class="material-icons left">group_add</i>New Member</a>
    </div>
  </div>

  <!-- New User Modal -->
  <div id="new-vuser" class="modal">
    <div class="modal-content">
      <h4>New Record</h4>
      <br>

      <form action="/u/new-vuser" method="POST" id="new-vuser-form">
        <div class="input-field">
          <label>Email</label>
          <input type="email" required name="email">
        </div>

        <div class="input-field">
          <label>Username</label>
          <input type="text" required name="username">
        </div>

        <div class="input-field">
          <label>Birth Year</label>
          <input type="number" required name="birth_year">
        </div>

        <div class="input-field">
          <label>Birth Month</label>
          <input type="number" required name="birth_month">
        </div>

        <div class="input-field">
          <label>First Name</label>
          <input type="text" required name="first_name">
        </div>

        <div class="input-field">
          <label>Middle Name</label>
          <input type="text" name="middle_name">
        </div>

        <div class="input-field">
          <label>Last Name</label>
          <input type="text" required name="last_name">
        </div>

        <div class="input-field">
          <label>Password</label>
          <input type="password" required name="password">
        </div>

        <div class="input-field">
          <label>Confirm Password</label>
          <input type="password" required name="cpassword">
        </div>
      </form>

    </div>
    <div class="modal-footer">
      <button class="modal-close waves-effect waves-green btn-flat">Cancel</button>
      <button form="new-vuser-form" type="submit" class="modal-close waves-effect waves-green btn-flat">Add</button>
    </div>
  </div>

  <!-- Data Table -->
  <div class="col l12 m12 s11">
    <table id="memberTable" class="highlight">
      <thead>
      <tr id="th" style="font-weight: bold">
        <th>Userid</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th class="hide-on-med-and-down">Email Address</th>
        <th>Age Group</th>
        <th>Action</th>
      </tr>
      </thead>
      {{#if vusers}}
        <tbody>
        {{#each vusers}}
          <tr>
            <td onclick="window.location.href = '/u/{{this._id}}?type=volunteer'">{{this.userid}}</td>
            <td onclick="window.location.href = '/u/{{this._id}}?type=volunteer'">{{this.first_name}}</td>
            <td onclick="window.location.href = '/u/{{this._id}}?type=volunteer'">{{this.last_name}}</td>
            <td onclick="window.location.href = '/u/{{this._id}}?type=volunteer'" class="hide-on-med-and-down">{{this.email}}</td>
            <td onclick="window.location.href = '/u/{{this._id}}?type=volunteer'">{{getAgeGroup this.birth_year this.birth_month}}</td>
            <td>
              <button onclick="window.location.href = '/a/edit-account?id={{this._id}}&type=volunteer'" class="btn btn-small waves-effect waves-light modal-trigger blue">
              <i class="material-icons">edit</i>
              </button>
              <button data-target="d-{{this._id}}" class="btn btn-small waves-effect waves-light modal-trigger red">
                <i class="material-icons">delete</i>
              </button>
            </td>
          </tr>

          <!-- Delete Modal Structure -->
          <div id="d-{{this._id}}" class="modal">
            <div class="modal-content">
              <h4>Confirmation</h4>
              <h6>You sure your want to delete this user? <br>You cannot undo this process</h6>
            </div>
            <div class="modal-footer">
              <button class="modal-close waves-effect waves-red btn-flat">Cancel</button>
              <button onclick="window.location.href = '/a/deluser?id={{this._id}}&type=volunteer'" class="modal-close waves-effect waves-green btn-flat">Yes</button>
            </div>
          </div>
        {{/each}}
        </tbody>
      {{/if}}
    </table>
  </div>
</div>