<div class="content-box">
  <h4>Profile Settings</h4>
  <div>
    <form method="POST" id="edit-account-form" action="/a/edit-account?id={{user._id}}&type=staff">
      <div class="row">
        <div class="input-field col l6 m6 s12">
          <label>Userid:</label>
          <input type="text" disabled value="{{user.userid}}">
        </div>
        <div class="input-field col l6 m6 s12">
          <label>Role:</label>
          <input type="text" readonly value="{{user.role}}">
        </div>
        <div class="input-field col l12 m12 s12">
          <label>Email Address:</label>
          <input type="email" value="{{user.email}}" name="email">
        </div>
      </div>

      <div class="row">
        <div class="input-field col l4 m4 s12">
          <label>First Name:</label>
          <input type="text" value="{{user.first_name}}" name="first_name">
        </div>
        <div class="input-field col l4 m4 s12">
          <label>Middle Name:</label>
          <input type="text" value="{{user.middle_name}}" name="middle_name">
        </div>
        <div class="input-field col l4 m4 s12">
          <label>Last Name:</label>
          <input type="text" value="{{user.last_name}}" name="last_name">
        </div>
      </div>
    </form>

    <div class="dfooter row right">
      <button type="submit" class="btn" form="edit-account-form"><i class="material-icons left">save</i>Save</button>
    </div>
  </div>

</div>

<!-- Reset Password Field -->
<div class="content-box">
  <h4>Change Password</h4>

  <div>
    <form method="POST" id="change-password-form" action="/a/change-password?id={{user._id}}">
      <div class="row">
        <div class="input-field col s12">
          <label>Original Password:</label>
          <input required type="password" name="opassword">
        </div>
        <div class="input-field col s12">
          <label>New Password:</label>
          <input required type="password" name="npassword">
        </div>
        <div class="input-field col s12">
          <label>Confirm New Password:</label>
          <input required type="password" name="cnpassword">
        </div>
      </div>
    </form>

    <div class="dfooter row right">
      <button type="submit" class="btn" form="change-password-form"><i class="material-icons left">save</i>Save</button>
    </div>
  </div>

</div>